<div id="index">
<h1>Pages#index</h1>
<%= link_to "Detalhe", pages_detalhe_url, remote: true, class: "btn btn-warning"%>
<%= link_to "Login/Subscribe", pages_login_or_subscribe_url, remote: true, class: "btn btn-warning"%>
</div>
<div id="pages"></div>
<div id="login-or-subscribe-modal" class="modal hide fade"></div>