<div class="modal-header">
	<h3>Login/Subscribe</h3>
</div>
 <div class="modal-body">
 	<%= simple_form_for :signin, :url => pages_signin_url, remote: true  do |f| %>
	  <%= f.input :email %>
	  <%= f.input :password %>

 </div>

	 <div class="modal-footer">
		<%= f.submit "Save", class: "btn" %>
	 	<%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
	 </div>
 	<%end%>