<div class="container">
  <div class="well">
    <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.price %></td>
      <td>
        <%= link_to 'Show', product, :class=> "btn" %>
        <%= link_to 'Edit', edit_product_path(product), remote: true,  :class=> "btn" %>
        <%= link_to 'Destroy', product, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div id="product-modal" class="modal hide fade"></div>
